<h1 class="title">
    Gérer les commandes
</h1>
<form [formGroup]="cartForm">
    <div class="row">
        <div class="col col-first">

            <fieldset>
                <div class=" inline-block col-1-1">
                    <div class="field">
                        <app-input [control]="cartForm.controls.name" [field]="config.nameConfig"></app-input>
                    </div>

                </div>
                <div class="inline-block col-1-1">
                    <div class="field">
                        <app-input [control]="cartForm.controls.email" [field]="config.emailConfig"></app-input>
                    </div>
                </div>


            </fieldset>
            <fieldset>
                <ng-container formGroupName="skills" class="col-1-1">
                    <div class="fields">
                        <div class=" inline-block col-1-2">
                            <div class="field">
                                <app-input [control]="cartForm.get('skills').get('skillName')" [field]="config.skilllNameConfig"></app-input>
                            </div>
                        </div>
                        <div class="inline-block col-1-2">
                            <div class="field">
                                <app-input [control]="cartForm.get('skills').get('experienceInYear')" [field]="config.experienceInYearConfig"></app-input>
                            </div>

                        </div>
                    </div>

                    <div class="field">
                        <div class=" inline-block col-1-1">
                            <label>Proficiency</label>
                            <app-radio [control]="cartForm.get('skills').get('proficiency')" [items]="items"></app-radio>
                        </div>
                    </div>

                </ng-container>
            </fieldset>

            <fieldset>
                <div class="fields">
                    <div class=" inline-block col-1-1">
                        <h4 style="font-weight: normal; border-bottom-width: 1px"> Options</h4>
                        <div class="field multi-checks">
                            <app-checkbox (sendEvent)="onCheckChangeAll($event)" [control]="cartForm.controls.optionsAll" [item]="checkAll"></app-checkbox>

                        </div>
                        <div class="field multi-checks">
                            <ng-container formArrayName="options" *ngFor="let item of checkedList;let i=index" class="example-margin">
                                <app-checkbox [control]="options.controls[i]" (sendEvent)="onCheckChange($event)" [item]="item" [value]="item"></app-checkbox>
                            </ng-container>
                        </div>
                    </div>
                    <div class="field">
                        <mat-hint *ngIf="options.hasError('minSelect')" align="end">At least one order must be selected</mat-hint>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="fields">
                    <div class=" inline-block col-1-1">


                        <app-select [optionItem]="'value'" [optionValue]="'id'" [items]="cars" [control]="cartForm.get('selectItem')"></app-select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class=" inline-block col-1-1">
                    <div class="field">
                        <app-input [control]="cartForm.controls.question" [field]="config.questionConfig"></app-input>
                    </div>
                </div>

            </fieldset>
            <fieldset>

                <ng-container formArrayName="questionOptions" *ngFor="let questionOption of questionOptions;let i=index" class="example-margin">
                    <div class="fields" [formGroup]="questionOptions[i]">
                        <div class=" inline-block col-1-10">
                            <div class="field">
                                <app-checkbox (sendEvent)="onCheckAnswer($event)" [control]="questionOptions[i].get('checkOption')" [item]="''" [value]="questionOptions[i].get('optionText').value"></app-checkbox>
                            </div>
                        </div>

                        <div class=" inline-block col-1-2">
                            <div class="field">
                                <app-input [placeholder]="'option '+ (i+1)" [control]="questionOptions[i].get('optionText')"></app-input>

                                <!-- <input #check type="text" [placeholder]="'option '+ (i+1)" formControlName="optionText"> -->
                            </div>
                        </div>
                    </div>


                </ng-container>
                <fieldset>
                    <div class=" inline-block col-1-1">
                        <div class="field">
                            <button type="button" (click)="addOptions()">Add Options </button>
                        </div>
                    </div>

                </fieldset>
            </fieldset>

        </div>




    </div>
    <!-- <button type="button" class="btn" (click)="onloadData()">onload</button> -->
</form>

{{cartForm.value |json}} {{cartForm.valid }}
<!--  <label class="checkbox">
    <input (click)="onClickCheck( $event,check.value)"  [value]="questionOptions[i].get('optionText').value" [formControl]="questionOptions[i].get('checkOption')" class="checkbox-background"  type="checkbox" (change)="onCheckAnswer($event)"  >
    <div class="container-checkbox"></div>
</label> -->