<h1 class="title">
    Gérer les commandes
</h1>
<form [formGroup]="cartForm">
    <div class="row">
        <div class="col col-first">

            <fieldset>
                <div class=" inline-block col-1-1">
                    <div class="field">
                        <app-input [id]="'name'" [control]="cartForm.controls.name" [field]="config.nameConfig"></app-input>
                    </div>

                </div>
                <div class="inline-block col-1-1">
                    <div class="field">
                        <app-input [id]="'email'" [control]="cartForm.controls.email" [field]="config.emailConfig"></app-input>
                    </div>
                </div>


            </fieldset>
            <fieldset>
                <ng-container formGroupName="skills" class="col-1-1">
                    <div class="fields">
                        <div class=" inline-block col-1-2">
                            <div class="field">
                                <app-input [id]="'skillName'" [control]="cartForm.get('skills').get('skillName')" [field]="config.skilllNameConfig"></app-input>
                            </div>
                        </div>
                        <div class="inline-block col-1-2">
                            <div class="field">
                                <app-input [id]="'experienceInYear'" [control]="cartForm.get('skills').get('experienceInYear')" [field]="config.experienceInYearConfig"></app-input>
                            </div>

                        </div>
                    </div>

                    <div class="field">
                        <div class=" inline-block col-1-1">
                            <label>Proficiency</label>
                            <app-radio [control]="cartForm.get('skills').get('proficiency')" [items]="items"></app-radio>
                        </div>
                    </div>

                </ng-container>
            </fieldset>

            <fieldset>
                <div class="fields">
                    <div class=" inline-block col-1-1">
                        <h4 style="font-weight: normal; border-bottom-width: 1px"> Options</h4>
                        <div class="field multi-checks">
                            <app-checkbox (sendEvent)="onCheckChangeAll($event)" [control]="cartForm.controls.optionsAll" [item]="checkAll" [id]="checkAll"></app-checkbox>

                        </div>
                        <div class="field multi-checks">
                            <ng-container formArrayName="options" *ngFor="let item of checkedList;let i=index" class="example-margin">
                                <app-checkbox [control]="options.controls[i]" (sendEvent)="onCheckChange($event)" [item]="item" [value]="item" [id]="item+''+i"></app-checkbox>
                            </ng-container>
                        </div>
                    </div>
                    <div class="field">
                        <mat-hint *ngIf="options.hasError('minSelect')" align="end">At least one order must be selected</mat-hint>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="fields">
                    <div class=" inline-block col-1-1">
                        <app-select (sendEvent)="onSelectType($event)" [optionItem]="'value'" [optionValue]="'id'" [items]="cars" [control]="cartForm.get('selectItem')"></app-select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class=" inline-block col-1-1">
                    <div class="field">
                        <app-input [id]="'question'" [control]="cartForm.controls.question" [field]="config.questionConfig"></app-input>
                    </div>
                </div>

            </fieldset>
            <fieldset>


                <ng-container formArrayName="questionOptions" *ngFor="let questionOption of questionOptions;let i=index" class="example-margin">
                    <div *ngIf="multiChoise" class="fields" [formGroup]="questionOptions[i]">
                        <div class=" inline-block col-1-10">
                            <div class="field">
                                <app-checkbox (click)="onClickCheck( $event,questionOptions[i].get('optionText').value)" (sendEvent)="onCheckAnswer($event)" [control]="questionOptions[i].get('checkOption')" [item]="''" [value]="questionOptions[i].get('optionText').value" [id]="'option'+i"></app-checkbox>
                            </div>
                        </div>

                        <div class=" inline-block col-1-2">
                            <div class="field">
                                <app-input [field]="config.optionTextConfig" [placeholder]="'option '+ (i+1)" [control]="questionOptions[i].get('optionText')" [id]="'q'+i"></app-input>

                                <!-- <input #check type="text" [placeholder]="'option '+ (i+1)" formControlName="optionText"> -->
                            </div>
                        </div>

                        <div *ngIf="questionOptions.length > 1" class="inline-block col-1-10">
                            <div class="field">
                                <button (click)="remove(i)" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                                <mat-icon>close</mat-icon>
                              </button>
                            </div>
                        </div>
                    </div>



                </ng-container>
                <ng-container *ngIf="trueFalse">
                    <div class="fields">
                        <label class="checkbox">
                            <input id="qT" type="radio" required="required"  [value]="true" formControlName="questionTruthyFalsy">
                            <div class="container-checkbox"></div>
                          </label>
                        <label for="qT" class="required">True</label>

                        <label class="checkbox">
                            <input type="radio"required="required" id="qF" [value]="false" formControlName="questionTruthyFalsy">
                            <div class="container-checkbox"></div>
                          </label>
                        <label for="qF" class="required">False</label>
                    </div>

                </ng-container>

                <ng-container *ngIf="easy">
                    <div class="field">
                        <textarea placeholder="Please Write The Anwser" style="min-height: 60px;" name="" id="" cols="30" rows="30" formControlName="questionEasy"></textarea>

                    </div>
                </ng-container>




                <fieldset *ngIf="multiChoise">
                    <div class=" inline-block col-1-1">
                        <div class="field">
                            <button mat-button color="primary" [disabled]="checkValidOptionText()" type="button" (click)="addOptions()">Add Options </button>
                        </div>
                    </div>

                </fieldset>
            </fieldset>

        </div>


        <div class="col col-last">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                        <mat-panel-description>
                            Type your name and age
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                        <mat-label>First name</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Age</mat-label>
                        <input matInput type="number" min="1">
                    </mat-form-field>

                </mat-expansion-panel>
            </mat-accordion>

            <app-star-rater formArrayName="rating"></app-star-rater>
        </div>


    </div>
    <button mat-button color="primary" type="button" (click)="onloadData()">onload</button>
</form>



<!-- {{selectedList|json}}
<br> {{answersList |json}}
<br> {{cartForm.value |json}} {{cartForm.valid }} -->
<!--  <label class="checkbox">
    <input (click)="onClickCheck( $event,check.value)"  [value]="questionOptions[i].get('optionText').value" [formControl]="questionOptions[i].get('checkOption')" class="checkbox-background"  type="checkbox" (change)="onCheckAnswer($event)"  >
    <div class="container-checkbox"></div>
</label> -->