<!-- <ng-select class="custom" [formControl]="control">
    <ng-option *ngFor="let item of items" [value]="item[optionValue]">{{item[optionItem]}}</ng-option>
</ng-select>
 -->


<mat-form-field (click)="focusInput(input)" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select (ngModelChange)="onChange($event)" (click)="focusInput(input)" [formControl]="control" #select>

        <input #input (input)="onInput($event.target.value)" type="text">

        <mat-option [ngClass]="{'mat-selected':matOPtion(item[optionItem],select)}" *ngFor="let item of list" [value]="item[optionValue]">
            {{item[optionItem]}}
        </mat-option>
    </mat-select>
</mat-form-field>


<svg #svg viewBox="0 0 180 150" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="linkBoard" class="" preserveAspectRatio="none">
    <circle id="even"   cx="165" cy="32" r="12"  class=" not-selectable occupied right-first"></circle>
        <circle  cx="165" cy="32" r="8" class="bowl2 not-selectable"></circle>
    
        <line #line   x1="15" y1="32" x2="15" y2="32" class="linkLineHover not-selectable"></line> 
    
     
        <circle   cx="165" cy="102" r="12" class=" not-selectable occupied right-second"  ></circle>
        <circle  cx="165" cy="102" r="8" class="bowl2 not-selectable"></circle>
    
       <circle  cx="15" cy="32" r="8" class=" not-selectable"></circle>
     
      
            <circle  cdkDragBoundary=".rect"  (cdkDragMoved)="drop($event,svg)"    cdkDrag   cx="15" cy="32" r="12" class=" left-top leftCase bowl1 not-selectable"></circle>

        

     

     
    
        <circle  cx="15" cy="102" r="8" class="leftCase not-selectable"></circle>
        <circle  cx="15" cy="102" r="12" class="left-bottom bowl1 not-selectable"></circle>
    </svg>


<!--cdkDragBoundary="svg"
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="linkBoard" class="" preserveAspectRatio="none">
    <circle cdkDragLockAxis="x" cdkDrag  cx="165" cy="32" r="12" class="rightCase not-selectable occupied"></circle>
    <circle id="cas_R_6d5cb939-7e88-4bbf-9b7d-b5725d803ef7" cx="165" cy="102" r="12" class="rightCase not-selectable occupied"></circle>
    <line  class="linkLineHover not-selectable" x1="15" y1="32" x2="165" y2="32"></line>
    <line  class="linkLine not-selectable" x1="15" y1="32" x2="165" y2="32"></line>
    <circle id="B1_44c8ccc7-d0ad-4988-816b-88ff276d77ff.c1041263-0942-4fe4-94aa-cefd9ea3625c" cx="15" cy="32" r="8" class="bowl1 not-selectable"></circle>
    <circle id="B2_44c8ccc7-d0ad-4988-816b-88ff276d77ff.c1041263-0942-4fe4-94aa-cefd9ea3625c" cx="165" cy="32" r="8" class="bowl2 not-selectable"></circle>
    <line id="L1Over_3ce2c645-dc7e-4e43-acb1-a6cd3a4fe6f6.6d5cb939-7e88-4bbf-9b7d-b5725d803ef7" class="linkLineHover not-selectable" x1="15" y1="102" x2="165" y2="102"></line>
    <line id="L1_3ce2c645-dc7e-4e43-acb1-a6cd3a4fe6f6.6d5cb939-7e88-4bbf-9b7d-b5725d803ef7" class="linkLine not-selectable" x1="15" y1="102" x2="165" y2="102"></line>
    <circle id="B1_3ce2c645-dc7e-4e43-acb1-a6cd3a4fe6f6.6d5cb939-7e88-4bbf-9b7d-b5725d803ef7" cx="15" cy="102" r="8" class="bowl1 not-selectable"></circle>
    <circle id="B2_3ce2c645-dc7e-4e43-acb1-a6cd3a4fe6f6.6d5cb939-7e88-4bbf-9b7d-b5725d803ef7" cx="165" cy="102" r="8" class="bowl2 not-selectable"></circle>
    <circle id="cas_L_3ce2c645-dc7e-4e43-acb1-a6cd3a4fe6f6" cx="15" cy="102" r="8" class="leftCase not-selectable"></circle>
    <circle id="cas_L_44c8ccc7-d0ad-4988-816b-88ff276d77ff" cx="15" cy="32" r="8" class="leftCase not-selectable"></circle>
</svg>

https://medium.com/angular-in-depth/angular-material-pagination-datasource-73080d3457fe
https://medium.com/angular-in-depth/learn-to-combine-rxjs-sequences-with-super-intuitive-interactive-diagrams-20fce8e6511
https://medium.com/@balramchavan/best-practices-building-angular-services-using-facade-design-pattern-for-complex-systems-d8c516cb95eb
https://auth0.com/blog/ngrx-facades-pros-and-cons/#:~:text=A%20facade%20is%20basically%20just,methods%20on%20the%20facade%20service.&text=This%20component%20imports%20the%20store%2C%20some%20actions%2C%20and%20some%20reducers.
-->
<!-- // Drawing Drag and drop connectors between SVG elements angular -->