<!-- <ng-select class="custom" [formControl]="control">
    <ng-option *ngFor="let item of items" [value]="item[optionValue]">{{item[optionItem]}}</ng-option>
</ng-select>
 -->


<mat-form-field (click)="focusInput(input)" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select (click)="focusInput(input)" [formControl]="control" #select>

        <input #input (input)="onInput($event.target.value)" type="text">

        <mat-option [ngClass]="{'mat-selected':matOPtion(item[optionItem],select)}" *ngFor="let item of list" [value]="item[optionValue]">
            {{item[optionItem]}}
        </mat-option>
    </mat-select>
</mat-form-field>