<header id="top_page" class="general">
    <a id="top_logout" title="Se déconnecter" class="icon-cancel"></a>
    <div id="top_logo"><img src="" /></div>
    <div id="top_buttons">
        <span>
   
        <label for="switch-mandataire">Prestataire</label><input type="checkbox" id="switch-mandataire" class="switch" /><label for="switch-mandataire">Mandataire</label>
  
        </span>
    </div>
    <div id="infos_compte">
        <span>
       
            <div>
               
                <a >
               
                </a>
              
               
               
            </div>
         
       
        </span>
    </div>
</header>
<div id="display-sous-menu"></div>

<div id="displayable_content" class="loaded">
    <nav class="principale">
        <div class="scroll-wrapper root list" style="position: relative;">
            <ul class="root list scroll-content" style="height: 877px; margin-bottom: 0px; margin-right: 0px; max-height: none;">

                <li class="list-item first">
                    <div class="is-link">
                        <a>
                            <i class="icon-home"></i>
                            <span>DASHBOARD</span>
                        </a>
                    </div>

                </li>


                <li class="list-item ">
                    <div class="no-link" title="PARAMÉTRAGE">
                        <i class="icon-cogs"></i>
                        <span>PARAMÉTRAGE</span>
                    </div>
                    <ul class=" list menu_parametrage  menu_level_1">

                        <li class="list-item first">
                            <div class="no-link" title="Compte">
                                <span>Compte</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Modifier</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item ">
                            <div class="no-link" title="Prestataires">
                                <span>Prestataires</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Modifier</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Lister</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item ">
                            <div class="no-link" title="Sites">
                                <span>Sites</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Créer</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Modifier</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Lister</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item last">
                            <div class="no-link" title="Lieux de formation">
                                <span>Lieux de formation</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Créer</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Modifier</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Lister</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


                <li class="list-item ">
                    <div class="no-link" title="RÉFÉRENTS">
                        <i class="icon-clipboard"></i>
                        <span>RÉFÉRENTS</span>
                    </div>
                    <ul class=" list menu_level_1">

                        <li class="list-item first last">
                            <div class="no-link" title="Référents">
                                <span>Référents</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Créer</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Modifier</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Lister</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


                <li class="list-item ">
                    <div class="no-link" title="PRESTATION">
                        <i class="icon-users"></i>
                        <span>PRESTATION</span>
                    </div>
                    <ul class=" list menu_level_1">

                        <li class="list-item first">
                            <div class="no-link" title="Gestion des bénéficiaires">
                                <span>Gestion des bénéficiaires</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Importer des bénéficiaires</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Affecter des bénéficiaires</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item ">
                            <div class="no-link" title="Suivi des prestations">
                                <span>Suivi des prestations</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Contractualisations</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>En cours</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Fins de prestation</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Abandons</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Non entrés</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Tous</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item last">
                            <div class="no-link" title="Suivi des promotions">
                                <span>Suivi des promotions</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Toutes</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


                <li class="list-item ">
                    <div class="no-link" title="ATELIERS">
                        <i class="icon-bubble-user"></i>
                        <span>ATELIERS</span>
                    </div>
                    <ul class=" list menu_level_1">

                        <li class="list-item first">
                            <div class="no-link" title="Ateliers">
                                <span>Ateliers</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Gérer les ateliers</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item last">
                            <div class="no-link" title="Inscriptions aux ateliers">
                                <span>Inscriptions aux ateliers</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Ateliers par promos</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Ateliers hors promos</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Tous les bénéficiaires</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


                <li class="list-item ">
                    <div class="no-link" title="ANIMER">
                        <i class="icon-group"></i>
                        <span>ANIMER</span>
                    </div>
                    <ul class=" list menu_level_1">

                        <li class="list-item first">
                            <div class="no-link" title="Bénéficiaires">
                                <span>Bénéficiaires</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Actualités</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Signets</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Forum des bénéficiaires</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Documents bénéficiaires</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Annuaire d'entreprises</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item last">
                            <div class="no-link" title="Référents">
                                <span>Référents</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Ressources référents</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Forum des référents</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


                <li class="list-item ">
                    <div class="no-link" title="ESPACE COWORKING">
                        <i class="icon-calendar"></i>
                        <span>ESPACE COWORKING</span>
                    </div>
                    <ul class=" list menu_level_1">

                        <li class="list-item first last">
                            <div class="no-link" title="Espace coworking">
                                <span>Espace coworking</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a>
                                            <i></i>
                                            <span>Horaires d'ouverture</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a href="/espace-ressource/inscriptions">
                                            <i></i>
                                            <span>Liste des inscriptions</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


                <li class="list-item ">
                    <div class="no-link" title="ÉVÈNEMENTS">
                        <i class="icon-clipboard"></i>
                        <span>ÉVÈNEMENTS</span>
                    </div>
                    <ul class=" list menu_level_1">

                        <li class="list-item first last">
                            <div class="no-link" title="Évènements d'entreprise">
                                <span>Évènements d'entreprise</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a href="/evenement/add">
                                            <i></i>
                                            <span>Créer</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a href="/evenements/list/supprimer">
                                            <i></i>
                                            <span>Supprimer</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a href="/evenements/list/edit">
                                            <i></i>
                                            <span>Modifier</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a href="/evenements/list">
                                            <i></i>
                                            <span>Lister</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


                <li class="list-item ">
                    <div class="no-link" title="FACTURATION">
                        <i class="icon-file-empty"></i>
                        <span>FACTURATION</span>
                    </div>
                    <ul class=" list menu_level_1">

                        <li class="list-item first last">
                            <div class="no-link" title="Gestion des factures">
                                <span>Gestion des factures</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first last">
                                    <div class="is-link">
                                        <a href="/facturation/list/reediter">
                                            <i></i>
                                            <span>Rééditer</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


                <li class="list-item current_ancestor last deplier">
                    <div class="no-link" title="REPORTING">
                        <i class="icon-stats-dots"></i>
                        <span>REPORTING</span>
                    </div>
                    <ul class=" list menu_level_1">

                        <li class="list-item current_ancestor first">
                            <div class="no-link" title="Bénéficiaires">
                                <span>Bénéficiaires</span>
                            </div>
                            <ul class=" list menu_level_2" style="display: none;">

                                <li class="list-item current first">
                                    <div class="is-link">
                                        <a href="/reporting/stagiaire/suivi-nombre-connexions">
                                            <i></i>
                                            <span>Suivi nb. connexions</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a href="/reporting/stagiaire/suivi-abandons">
                                            <i></i>
                                            <span>Suivi des abandons</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a href="/reporting/stagiaire/temps_suivi_global">
                                            <i></i>
                                            <span>Temps de suivi global</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a href="/reporting/stagiaire/temps_suivi_stagiaire">
                                            <i></i>
                                            <span>Temps de suivi / bénéficiaire</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item ">
                            <div class="no-link" title="Référents">
                                <span>Référents</span>
                            </div>
                            <ul class=" list menu_level_2">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a href="/reporting/referents/suivi-performances">
                                            <i></i>
                                            <span>Suivi des performances</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a href="/reporting/referents/temps-entretiens">
                                            <i></i>
                                            <span>Temps d'entretiens</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a href="/reporting/referents/chiffre-affaires">
                                            <i></i>
                                            <span>Chiffre d'affaires</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                        <li class="list-item last deplier">
                            <div class="no-link" title="Pilotage">
                                <span>Pilotage</span>
                            </div>
                            <ul class=" list menu_level_2" style="display: block;">

                                <li class="list-item first">
                                    <div class="is-link">
                                        <a href="/reporting/pilotage/suivi-global">
                                            <i></i>
                                            <span>Suivi global</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a href="/reporting/pilotage/suivi-performances">
                                            <i></i>
                                            <span>Suivi des performances</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item ">
                                    <div class="is-link">
                                        <a href="/reporting/pilotage/financier">
                                            <i></i>
                                            <span>Financier</span>
                                        </a>
                                    </div>

                                </li>


                                <li class="list-item last">
                                    <div class="is-link">
                                        <a href="/reporting/pilotage/financier-pole">
                                            <i></i>
                                            <span>Financier par pôle</span>
                                        </a>
                                    </div>

                                </li>


                            </ul>

                        </li>


                    </ul>

                </li>


            </ul>
            <div class="scroll-element scroll-x" style="">
                <div class="scroll-element_outer">
                    <div class="scroll-element_size"></div>
                    <div class="scroll-element_track"></div>
                    <div class="scroll-bar" style="width: 0px;"></div>
                </div>
            </div>
            <div class="scroll-element scroll-y" style="">
                <div class="scroll-element_outer">
                    <div class="scroll-element_size"></div>
                    <div class="scroll-element_track"></div>
                    <div class="scroll-bar" style="height: 0px;"></div>
                </div>
            </div>
        </div>
    </nav>
    <app-card-form></app-card-form>
</div>