<header id="top_page" class="general">
    <a id="top_logout" title="Se déconnecter" class="icon-cancel"></a>
    <div id="top_logo"><img src="" /></div>
    <div id="top_buttons">
        <span>
   
        <label for="switch-mandataire">Prestataire</label><input type="checkbox" id="switch-mandataire" class="switch" /><label for="switch-mandataire">Mandataire</label>
  
        </span>
    </div>
    <div id="infos_compte">
        <span>
       
            <div>
               
                <a >
               
                </a>
              
               
               
            </div>
         
       
        </span>
    </div>
</header>
<div id="display-sous-menu"></div>

<div id="displayable_content" class="loaded">

    <app-card-form></app-card-form>
</div>