<header id="top_page" class="general">
    <a id="top_logout" title="Se déconnecter" class="icon-cancel"></a>
    <div id="top_logo"><img src="" /></div>
    <div id="top_buttons">
        <span>
   
        <label for="switch-mandataire">Prestataire</label><input type="checkbox" id="switch-mandataire" class="switch" /><label for="switch-mandataire">Mandataire</label>
  
        </span>
    </div>
    <div id="infos_compte">
        <span>
       
            <div>
               
                <a >
               
                </a>
              
               
               
            </div>
         
       
        </span>
    </div>
</header>
<div id="display-sous-menu"></div>
<nav class="principale">
    <div class="scroll-wrapper root list" style="position: relative;">
        <ul (click)="$event.stopPropagation()" class="root list scroll-content" style="height: 877px; margin-bottom: 0px; margin-right: 0px; max-height: none;">

            <li class="list-item first">
                <div class="is-link">
                    <a>
                        <i class="icon-home"></i>
                        <span>DASHBOARD</span>
                    </a>

                </div>


            </li>
            <li class="list-item " [ngClass]="{'hovered':hovered}">

                <div (click)="onClick(menu)" [matMenuTriggerFor]="menu" (menuClosed)="menuClosed()" aria-label="Example icon-button with a menu" class="no-link" title="PARAMÉTRAGE">
                    <mat-icon>home</mat-icon>
                    <span>PARAMÉTRAGE</span>
                </div>

                <mat-menu #menu="matMenu" class="menu_mat">

                    <button mat-menu-item>
                      <mat-icon>dialpad</mat-icon>
                      <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>voicemail</mat-icon>
                      <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>notifications_off</mat-icon>
                      <span>Disable alerts</span>
                    </button>

                </mat-menu>

            </li>
        </ul>

    </div>
</nav>
<div id="displayable_content" class="loaded" (click)="onClickBody()">


    <app-card-form></app-card-form>
    <app-table [tableData]="orders" [tableColumns]="ordersTableColumns" [isFilterable]="true" [isPageable]="true" [paginationSizes]="[2,4,6]" [defaultPageSize]="4" (sort)="sortData($event)" [rowActionIcon]="'remove_shopping_cart'" (rowAction)="removeOrder($event)">
    </app-table>
</div>